elm-stuff
node_modules
serve
dist
bower_components
LocalConfig.elm
errorShots
elm.js
index.html
src/generated
/ssl/ssl.crt
/ssl/ssl.key
/ssl/ssl.pem
package-lock.json

# Ignore the local config file.
wdio.local.conf.js
vendor
