#main-wrapper {
  background: #0393db !important;
}

#main-wrapper #main {
  margin: unset;
}

#header,
#breadcrumb,
#main-wrapper #sidebar-first {
  display: none;
}

#page-title {
  display: none;
}

.region.region-content {
  height: 100%;
}
