#page-wrapper #main-wrapper {
  background: #0393db;
}

#page-wrapper #header,
#page-wrapper #footer-wrapper,
#main-wrapper #breadcrumb,
#main-wrapper #sidebar-first,
#main-wrapper #page-title {
  display: none;
}

#main-wrapper #main {
  margin: unset;
  width: 100%;
}

#main-wrapper #main #content {
  width: 100%;
}

.page-content {
  min-height: 768px;
}

.page-content .header {
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  padding: 20px;
}

.page-content .inputs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 380px;
}

.page-content .inputs .select-input-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.page-content .inputs .select-input-wrapper.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.page-content .inputs .select-input-wrapper .label {
  font-size: 26px;
  width: 40%;
}
.page-content .inputs .select-input-wrapper .select-input {
  background: none;
  border: 2px solid white;
  color: #3b3b3b;
  font-size: 2rem;
  height: 50px;
  line-height: 0.5;
  text-align: left;
  padding: 0 0.5em;
  width: 60%;
}


.page-content .inputs .select-input-wrapper .select-input:focus {
  outline-color: white;
}

.page-content .actions {
  text-align: center;
}

.page-content .actions button {
  background-color: #0393db;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  width: 30%;
}

.page-content .pane .pane-heading {
  background-color: #06b9ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
}

.page-content .pane.cyan .pane-heading {
  background-color: #03b5aa;
}

.page-content .pane.orange .pane-heading {
  background-color: #fbb03b;
}

.page-content .pane.velvet .pane-heading {
  background-color: #d3145a;
}

.page-content .pane-content {
  background: white;
  color: #808080;
  font-size: 24px;
  text-align: center;
}

.page-content .pane-content span.selected-entity {
  font-weight: 600;
  margin-right: 10px;
}

.page-content .pane-content .table-header,
.page-content .pane-content .table-row {
  border-bottom: 1px solid #808080;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  text-align: center;
}

.page-content .pane-content .table-header {
  border-bottom: 2px solid #808080;
}

.page-content .pane-content .cell {
  border-right: 1px solid #808080;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 6.7%;
}

.page-content .pane-content .table-header .cell.activity,
.page-content .pane-content .table-row .cell.activity {
  padding-left: 20px;
  text-align: left;
  width: 20%;
}

.page-content .pane-content .table-row .cell.value {
  color: #06b9ff;
  font-size: 20px;
  font-weight: bold;
}

.page-content .pane-content .table-header .cell:last-child,
.page-content .pane-content .table-row .cell:last-child {
  border-right: none;
}
