hooks:
  pre-start:
    - exec-host: "chmod +x ./scripts/build && ./scripts/build"
  post-import-db:
    # Sanitize email addresses
    - exec: drush sqlq "UPDATE users SET mail = concat(mail, '.test') WHERE uid > 0
        AND mail NOT LIKE '%~%'"
    - exec: drush sqlq "UPDATE users SET mail = replace(mail, '~', '.test~') WHERE uid
        > 0 AND mail LIKE '%~%'"
    - exec: drush en devel views_ui -y
    - exec: drush uli
  post-start:
    - exec: drush site-install -y hedley install_configure_form.update_status_module='array(FALSE,FALSE)' --locale=en --account-name="admin" --account-pass="admin" --account-mail="admin@example.com" --db-url=mysql://db:db@db/db --uri="https://ihangane.ddev.site:4443"
    - exec: drush en devel views_ui -y
    - exec: composer install -d sites/default/files/composer
    - exec: drush en -y hedley_migrate
    - exec: drush en -y migrate migrate_ui migrate_extras
    - exec: drush mi --group=default --user=1
    - exec: drush mi --group=counseling --user=1
    - exec: drush mi --group=forms --user=1
    - exec: drush uli
