// This is SCSS not provided by the designer ... it's here so
// that we can leave what the designer provided unchanged,
// making it easier to integrate designer changes.
//
// This is pulled in by `style.scss`

// Without this, the placeholder seems to be pulled up, relative
// to where you'd think it should be. For instance, in the login form.
input::placeholder {
  line-height: 1.0;
}

// So we don't need a href to get the pointer cursor
a {
  cursor: pointer;
}

// CSS for an overlay. So, the idea is that we have a structure that looks like
// this:
//
// <div class="overlay">
//     <div class="modal">
//
//     </div>
// </div>
//
// ... other stuff
//
// The position: fixed etc. will size the overlay to be 100% of the viewport.
//
// The z-index will put this in front of the other stuff, blocking clicks to
// other things.
//
// The background-color dims everything that isn't in the modal itself (i.e.
// the other stuff).
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 35000;
  background-color: rgba(0,0,0,0.5);
}

// CSS for the modal itself, inside an overlay. We center
// the modal vertically inside the viewport.
.overlay > .modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
