// This is SCSS not provided by the designer ... it's here so
// that we can leave what the designer provided unchanged,
// making it easier to integrate designer changes.
//
// This is pulled in by `style.scss`

// Without this, the placeholder seems to be pulled up, relative
// to where you'd think it should be. For instance, in the login form.
input::placeholder {
  line-height: 1.0;
}

// So we don't need a href to get the pointer cursor
a {
  cursor: pointer;
}

.ui.table.session-list {
  color: $color-text;
  font-size: 1.75rem;
}

.consent-form-list {
  color: $color-text;
}

.admin-page {
  table {
    font-size: 1.2rem !important;
  }

  h2 {
    margin-top: 1.0rem;
  }
}

// CSS for an overlay. So, the idea is that we have a structure that looks like
// this:
//
// <div class="overlay">
//     <div class="modal">
//
//     </div>
// </div>
//
// ... other stuff
//
// The position: fixed etc. will size the overlay to be 100% of the viewport.
//
// The z-index will put this in front of the other stuff, blocking clicks to
// other things.
//
// The background-color dims everything that isn't in the modal itself (i.e.
// the other stuff).
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 35000;
  background-color: rgba(0,0,0,0.5);

  .actions .button.no-side-margins {
    margin-left: 0;
    margin-right: 0;
  }
}

.overlay.bright {
  background-color: rgba(0,0,0,0.15);
}

// CSS for the modal itself, inside an overlay. We center
// the modal vertically inside the viewport.
.overlay > .modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Use Nunito for headers
.ui.header {
  font-family: $font;
}

.links-body {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 24px;
  }

  .icon-mother, .icon-baby {
    width: 56px;
    height: 56px;
  }

  .icon-mother {
    background: url(#{$img-path}icon-mother-small.svg) no-repeat center;
    background-size: 36px 38px;
    position: relative;
    left: 1px;
    bottom: 1px;
  }

  .icon-baby {
    background: url(#{$img-path}icon-baby-small.svg) no-repeat center;
    background-size: 31px 40px;
  }

  .icon {
    display: block;
    width: 58px;
    height: 58px;
    background: #fff;
    border-radius: 50%;
    position: relative;
  }

  li.active .icon:before {
    width: 72px;
    height: 72px;
    border: 6px solid $color-dark-blue;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -7px;
  }

  .count {
    position: absolute;
    font-size: 1rem; //14px;
    font-family: $font;
    font-weight: 500;
    top: 9px;
    right: 11px;
    color: #0393db;
    line-height: 1;
  }
}

.icon-participant {
  display: block;
  width: 100%;
  height: 100%;

  &.rounded {
    border-radius: 50%;
  }

  &.mother {
    background: url(#{$img-path}icon-mother-gray.svg) no-repeat center;
    background-color: $color-background;
    background-size: 62% 62%;

    &.active {
      background: url(#{$img-path}icon-mother-white.svg) no-repeat center;
      background-color: $color-primary;
      background-size: 62% 62%;
    }
  }

  &.child {
    background: url(#{$img-path}icon-baby-gray.svg) no-repeat center;
    background-color: $color-background;
    background-size: 75% 75%;

    &.active {
      background: url(#{$img-path}icon-baby-white.svg) no-repeat center;
      background-color: $color-primary;
      background-size: 75% 75%;
    }
  }
}

.page-form {
  background: #333;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.wrap-form {
  max-width: 1215px;
  height: 100%;
  margin: 0 auto 30px auto;
  background: #fff;
  border-top: 9px solid #06b9ff;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .form-title {
    flex: initial;
    margin-bottom: 12px;
  }

  .form-body {
    flex: auto;
    line-height: 1.618;
    overflow-y: scroll;
  }

  .actions {
    margin-top: 24px;
    flex: initial;
  }

  .icon-back {
    width: 34px;
    height: 27px;
    display: block;
    background: url(#{$img-path}icon-back-dark.svg);
    background-size: 34px 27px;
    float: left;
  }
}
