.dashboard {
  margin-top: -15px;

  .case-management-label {
    color: $color-white;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .ui.grid .column.row.center {
    justify-content: center;
  }

  .ui.segment {

    .content .very.basic.table {
        width: 100%;

        thead {

          th {
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            padding: 2px 4px 2px;
            border-left: 0 none;
            border-right: 0 none;
            border-bottom: 1px solid $color-text;
            color: $color-text;
            text-transform: uppercase;

            &.phone-number {
              width: 26%;
            }
          }
        }

        tbody {

          td {
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            border: 0 none;
            color: black;
            padding: 4px 4px 24px;
            vertical-align: top;

            &.phone-number {
              justify-content: center;
              text-align-last: center;
            }
          }
        }
      }

    &.filters {
      background-color: $color-light-background;
      min-height: 60px;
      padding: 15px 20px;

      .label {
        color: $color-white;
      }

      .ui.button {
        font-size: 22px;
        line-height: 30px;
        text-transform: none;
        font-weight: normal;
        padding: 0 4px;
        border-radius: 3px;

        &:link,
        &:focus,
        &:active,
        &:hover {
          background-color: $color-primary;
        }

        &.inactive {
          background-color: transparent;
          color: $color-background;
        }

        &.program-type-filter {
          float: right;
        }
      }

      .icon-settings {
        background: url(#{$img-path}icon-settings.svg);
        background-size: 24px 24px;
        display: block;
        float: right;
        height: 24px;
        margin-left: 8px;
        margin-top: 4px;
        width: 24px;
      }
    }

    &.page-filters {
      background-color: transparent;
      min-height: 40px;
      padding: 15px 0;
      margin-bottom: 35px;
      display: flex;

      button {
        background-color: $color-white;
        border: solid 2px $color-primary;
        border-radius: 3px;
        color: $color-primary;
        width: 300px;
        font-size: 24px;
        font-weight: 700;
        margin-right:25px;
        padding: 15px;
        text-transform: none;

        &:last-child {
          margin-right: 0px;
        }

        &.active {
          background-color: $color-primary;
          border: solid 2px $color-white;
          color: $color-white;
        }
      }
    }

    &.page-filters.top-row {
      margin-bottom: 0;
    }

    &.page-filters.center {
      justify-content: center;
    }

    &.donut-chart {
      margin-top: 40px;

      .header {

        .title {
          font-size: 30px;
          line-height: 35px;
          max-width: 40%;
          font-weight: normal;
          font-family: Nunito;
        }
      }

      .row {
        position: relative;

        .no-data-message {
          margin-top: 40px;
        }

        .content {
          width: 100%;
          text-align: center;
          padding: 0 1rem;

          .in-chart {
            font-family: Nunito;
            position: relative;
            top: 70px;
            width: 100%;

            .stats {
              width: 107px;
              margin: 0 auto;

              .percentage {
                display: block;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 28px;
              }

              .use-label {
                font-style: normal;
                font-size: 20px;
                line-height: 20px;
                display: block;
                margin: 8px auto;
              }

              .count {
                font-size: 12px;
                line-height: 12px;
                display: block;
              }
            }
          }

          svg.pie-chart {
            height: 400px;
            left: 55px;
            position: absolute;
            top: 35px;
            width: 400px;
          }

          .legend {
            width: 50%;
            display: flex;
            justify-content: left;
            flex-flow: column wrap;
            align-content: stretch;
            margin: 140px auto 0;
            max-height: 285px;

            .legend-item {
              margin-bottom: 5px;
              text-align: left;

              span {
                font-family: Nunito;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                margin-left: 9px;
              }
            }
          }
        }
      }
    }

    &.donut-chart.left {
      min-height: 300px;

      .row .content {

        svg.pie-chart {
          height: 500px;
          left: -185px;
          position: absolute;
          top: 4px;
          width: 500px;
        }

        .in-chart {
          font-size: 18px;
          left: 82px;
          line-height: 20px;
          top: 95px;
          width: 175px;
        }

        .legend {
          margin: 0 0 0 400px;

          .legend-item span {
            font-size: 18px;
          }
        }
      }
    }
  }

  .overlay .ui.modal {
    margin-left: -350px;
    width: 700px;

    .header {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 25px;
      text-align: left;
      text-transform: capitalize;
    }

    .content {
      text-align: left;

      .helper {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 3px;
      }

      .select-input {
        background: none;
        border: 2px solid $color-gray;
        font-size: 28px;
        height: 50px;
        margin-bottom: 20px;
        padding: 0 7px;
        width: 100%;
      }
    }

    .actions {
      margin-top: 40px;

      button {
        margin-left: 0;
      }
    }
  }

  &.stats {

    .ui.grid {
      margin-bottom: 25px;
    }

    .overlay {

      .ui.modal {
        margin-left: -365px;
        height: 400px;
        overflow: scroll;
        width: 730px;

        .header {
          padding: 0;

          .title {
            font-size: 30px;
            line-height: 35px;
            font-weight: normal;
            font-family: Nunito;
            text-transform: none;
            text-align: left;
          }

          .overlay-close {
            position: absolute;
            top: 4px;
            right: 15px;
            cursor: pointer;
            font-weight: normal;
            text-transform: none;
            font-size: 20px;
          }
        }

        .content {
          padding: 1rem 0 2.5rem 0;
        }
      }
    }
  }

  &.case {

    .ui.segment {

      .header {
        float: none;
      }

      .content {
        overflow-x: hidden;
        overflow-y: visible;
        width: 100%;

        .very.basic.table {
          width: 100%;

          th, td {
            border: 0 none;
            line-height: 24px;
            width: 90px;
          }

          th {
            border-bottom: 1px solid $color-text;
            color: $color-text;
            font-size: 16px;
            padding: 0 3px;
            text-align: center;
            text-transform: uppercase;

            &.name {
              height: 25px;
              text-align: left;
            }
          }

          td {
            font-size: 20px;
            padding: 8px 10px;

            &.name {
              border-right: 1px solid $color-text;
              height: 45px;
              padding: 16px 8px;
            }

            span {
              border-radius: 6px;
              color: $color-white;
              display: block;
              padding: 2px 5px;
              text-align: center;
            }

            &.neutral {

              span {
                background-color: $color-text;
              }
            }

            &.severe {

              span {
                background-color: $color-velvet;
              }
            }

            &.moderate {

              span {
                background-color: $color-orange;
              }
            }

            &.good {

              span {
                background-color: $color-green;
              }
            }
          }

          // Create the table's vertical scroll.
          th.name,
          td.name {
            background-color: $color-white;
            left: 25px;
            position: absolute;
            width: 407px;
            word-break: break-all;
          }
        }
      }
    }
  }

  .severity {

    &.severity-neutral {
      color: $color-light-background;
    }

    &.severity-good {
      color: $color-green;
    }

    &.severity-moderate {
      color: $color-orange;
    }

    &.severity-severe {
      color: $color-velvet;
    }
  }

  .stats {

    .neutral {
      color: $color-light-background;
    }
  }

  .dashboards-monthly-chart,
  .fbf-beneficiaries,
  .case-management {

    .header {
      float: left;
      clear: both;
      width: 100%;

      .title {
        font-size: 30px;
        line-height: 35px;
        float: left;
        max-width: 38%;
        font-weight: normal;
        font-family: Nunito;

        .helper {
          font-size: 20px;
          margin-top: -5px;
        }
      }

      .filters {
        float: right;
        font-size: 20px;
        line-height: 27px;
        color: $color-background;
        margin-top: 6px;

        .dashboard-filter {
          padding: 4px 5px;
          cursor: pointer;

          &.active {
            background-color: $color-primary;
            color: white;
            border-radius: 3px;
          }
        }
      }

      .filters.secondary {
        margin-top: 5px;
        margin-bottom: 15px;

        .dashboard-filter {
          padding: 5px 30px;
        }
      }
    }

    .content {

      .legend {
        float: right;
        clear: both;

        > div {
          display: inline-block;
          font-size: 15px;
          line-height: 22px;
          color: $color-light-gray;
          padding: 2px 10px;

          svg {
            margin-right: 6px;

            circle {

              &.moderate {
                fill: $color-orange;
              }

              &.severe {
                fill: $color-velvet;
              }
            }
          }
        }
      }

      svg {

        g {

          line {
            display: none;
          }

          path {
            stroke: $color-light-blue;
          }

          text {
            fill: $color-light-gray;
            font-size: 20px;
            text-transform: uppercase;
            line-height: 22px;
            font-weight: 600;
          }

          &.grid {
            overflow: hidden;

            line {
              display: initial;
              stroke: $color-svg-grid;
              opacity: 0.7;
            }
          }
        }

        .column rect {
          width: 10px;
        }

        .column.moderate rect {
          fill: $color-orange;
        }

        .column.severe rect {
          fill: $color-velvet;
        }

        .column text {
          display: none;
        }
      }
    }
  }

  .dashboards-monthly-chart {
    display: flex;
    flex-direction: column;
  }

  .fbf-beneficiaries {

    .header {

      .filters {

        :first-child {
          margin-right: 10px;
        }

        .dashboard-filter {
          padding: 0 5px;
        }
      }
    }

    .content {

      .table {
        margin-top: 60px;

        th,
        td {
          text-align: center;

          &.label {
            text-align: left;
          }
        }

        th {
          min-width: 55px;
        }
      }
    }
  }

  .case-management .header .filters {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .dashboards-links {

    > div {
      font-size: 30px;
      line-height: 20px;
      color: $color-dark-background;
      display: block;
      padding: 11px 20px 11px 15px;
      cursor: pointer;

      i.icon {
        width: 82px;
        height: 82px;
      }

      > span {
        padding: 30px 0 0 26px;
        vertical-align: top;
        display: inline-block;

        .bold {
          font-weight: bold;
          padding-right: 6px;
        }
      }

      .arrow {
        background: transparent url(#{$img-path}icon-arrow.svg) no-repeat center center;
        width: 10px;
        height: 15px;
        display: inline-block;
        float: right;
        margin-top: 35px;
      }

      &.stats {

        i.icon {
          background: transparent url(#{$img-path}icon-stats.svg) no-repeat center center;
        }
      }

      &.case {

        i.icon {
          background: transparent url(#{$img-path}icon-baby-link.svg) no-repeat center center;
        }
      }
    }
  }
}

.dashboard.prenatal {

  .separator {
    border: 2px solid $color-white;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
}

.dashboard.group-education {

  ul.session-topics {
    color: $color-white;
    font-size: 24px;
    font-weight: 700;
  }

  .sessions-table,
  .patients-table {
    padding: 20px;
    width: 100%;

    .entry {
      background: $color-white;
      border-bottom: 2px solid $color-gray-border;
      display: flex;
      font-size: 18px;
      font-weight: 500;
      padding: 20px;
      text-align: center;
    }

    .entry.header {
      font-weight: 700;
    }

    .entry:last-child {
      border-bottom: none;
    }
  }

  .sessions-table .entry {

    .topics {
      margin: 0;
      padding-left: 10px;
      text-align: left;
      width: 380px;

      li {
        line-height: 24px;
        margin-bottom: 0;
      }
    }

    .date {
      align-self: center;
      margin-left: 20px;
      text-align: left;
      width: 120px;
    }

    .attendance {
      align-self: center;
      width: 120px;
    }

    .icon-forward {
      align-self: center;
      background: url(#{$img-path}icon-forward-blue.svg) center center no-repeat;
      background-size: 45px 50px;
      height: 50px;
      width: 50px;
    }

    .icon-forward.hidden {
      visibility: hidden;
    }
  }

  .patients-table .entry {

    .name,
    .gender {
      align-self: center;
      text-align: left;
    }

    .name {
      margin-left: 20px;
      width: 65%;
    }
  }
}
