.login-container {
    header {
        text-align: center;
        margin-bottom: 50px;
    }

    main {
        padding: 50px;
        max-width: 400px;
        margin: 0 auto;
        background: lavender;
        border-radius: 5px;
    }
}
