// We design for a minimum width of 800px.
html,
body {
    height: 100%;
    min-height: 100vh;
    min-width: 800px;
}

// Some things which apply to the whole body.
body {
    font-family: $font;
    font-size: 22px;
    color: $color-text;
    background: #0393db url(#{$img-path}bg.svg) no-repeat center 12px;
    background-size: 1193px 818px;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: auto;

    &.no-bg {
        background-image: none;
    }

    img.rotate-90 {
      transform: rotate(90deg);
    }
}

// This is our wrapper for the whole page.
div.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

// This is for the content below the language switcher, which should
// grow to fill the available height.
div.page-content {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

div.language-switcher {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .version {
        margin-right: 16px;
        height: 24px;
        color: white;
        font-size: .6em;
        cursor: pointer;
    }

    .sync-icon {
        color: white;
        cursor: pointer;
    }

    .links-translate {
        margin: 0;
        padding: 6px 25px;
        list-style: none;
        display: flex;
        justify-content: flex-start;

        li {
            display: inline-block;
            margin-right: 15px;
            position: relative;
            display: flex;
            height: 27px;
            color: white;
            font-size: .8em;
            cursor: pointer;

            &.active {
                color: $color-dark-blue;
            }

            a {
                display: block;
                width: 27 px;
                height: 27 px;
                background: #fff;
                border-radius: 50%;
                position: relative;
                margin-left: 10px;
            }
        }

        li.active a:before {
            width: 35px;
            height: 35px;
            border: 2px solid $color-dark-blue;
            content: " ";
            display: block;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: -4px;
        }
    }
}

div.page-pincode {
    font-size: 1.72rem; //24px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div.ui.login.form {
        width: 16em;
        margin-left: auto;
        margin-right: auto;
    }

    div.ui.basic.head.segment {
      position: absolute;
      top: 0;
      width: 100%;
      margin-left: -40px;
    }

    p.logged-in-as {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: -3rem;
    }

    p.health-center-name {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    p.select-health-center {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3rem;
      margin-top: 6rem;
    }

    button.ui.logout.button {
      background: $color-light-background;
      border: 2px solid white;
      position: absolute;
      bottom: 0;
      width: 89%;
    }

    button.ui.primary.button.group-assessment {
      padding: 0;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      .icon-group {
        background-image: url(#{$img-path}icon-group-encounter.svg);
        background-size: 50px 50px;
        display: block;
        height: 50px;
        width: 50px;
        float: left;
        line-height: 60px;
        margin-top: 5px;
        margin-left: 50px;
      }

      .text {
        line-height: 60px;
        float: left;
        margin-left: 60px;
      }

      .icon-back {
        float: left;
        margin-top: 17px;
        margin-left: 90px;
        transform: rotate(180deg);
      }
    }

    // Maintaing margin from 'sign out' button when selecting health center.
    button.health-center:last-child {
        margin-bottom: 6rem !important;
    }
}

div.page-person-create {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    width: 100%;
}

div.page-people {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    div.search-wrapper {
        flex: 1 1 auto;
        height: 100%;
        overflow-y: hidden;

        > div.ui.segment {
            height: 100%;
        }
    }

    div.search {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;

        div.search-middle {
            height: 100%;
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}

div.page-relationship {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    label.relationship-selection {
        font-size: 1.57rem; //22px light
    }

    div.relationship-selector {
        margin-bottom: 50px;
        margin-left: 60px;
    }

    div.current-groups {
      margin-bottom: 30px;
    }
}

div.page-person {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .particiants-list {
        margin-top: 50px;
    }
}

div.page-participant,
div.page-activity {

  .ui.full.segment .content {

    .fbf-to-receive {
      border-bottom: 2px solid;
      border-top: 2px solid;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .label {
      margin-bottom: 10px;
    }

    .form-input {
      margin-bottom: 30px;

      // Number inputs
      &.measurement {
        height: 50px;

        .unit {
          float: left;
          font-weight: normal;
          margin-left: 20px;
          margin-top: 10px;
          width: 35%;
        }

        input {
          background-color: $color-white;
          border: 2px solid $color-gray-border;
          float: left;
          width: 60%;
        }
      }

      // Bool inputs
      &.yes-no {
        padding-bottom: 15px;
        margin-left: 25px;

        label {
          font-size: 25px;
          margin-left: 10px;
        }

        label:before {
          content: " ";
          display: inline-block;
          position: relative;
          top: 5px;
          margin-right: 10px;
          width: 26px;
          height: 26px;
          border-radius: 13px;
          border: 2px solid $color-gray-border;
          background-color: transparent;
        }

        input[type=radio] {
          display: none;
        }

        input[type=radio]:checked + label:after {
          content: " ";
          border-radius: 7px;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 25px;
          left: 30px;
          display: block;
          background: $color-text;
        }
      }
    }
  }
}

//Device Status Page
.device-status {
  button {
    margin-bottom: 20px;
  }

  .general-sync {
    margin-bottom: 40px;
  }

  .health-centers .health-center {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid;

    .health-center-info button {
      margin-top: 20px;
    }
  }
}
