// We design for a minimum width of 800px.
html,
body {
    height: 100%;
    min-height: 100vh;
    min-width: 800px;
}

// Some things which apply to the whole body.
body {
    font-family: $font;
    font-size: 22px;
    color: $color-text;
    background: #0393db url(#{$img-path}bg.svg) no-repeat center 12px;
    background-size: 1193px 818px;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: auto;

    &.no-bg {
        background-image: none;
    }
}

// This is our wrapper for the whole page.
div.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

// This is for the content below the language switcher, which should
// grow to fill the available height.
div.page-content {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

div.language-switcher {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .version {
        margin-right: 16px;
        height: 24px;
        color: white;
        font-size: .6em;
        cursor: pointer;
    }

    .sync-icon {
        color: white;
        cursor: pointer;
    }

    .links-translate {
        margin: 0;
        padding: 6px 25px;
        list-style: none;
        display: flex;
        justify-content: flex-start;

        li {
            display: inline-block;
            margin-right: 15px;
            position: relative;
            display: flex;
            height: 27px;
            color: white;
            font-size: .8em;
            cursor: pointer;

            &.active {
                color: $color-dark-blue;
            }

            a {
                display: block;
                width: 27 px;
                height: 27 px;
                background: #fff;
                border-radius: 50%;
                position: relative;
                margin-left: 10px;
            }
        }

        li.active a:before {
            width: 35px;
            height: 35px;
            border: 2px solid $color-dark-blue;
            content: " ";
            display: block;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: -4px;
        }
    }
}

div.page-pincode {
    font-size: 1.72rem; //24px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div.ui.login.form {
        width: 16em;
        margin-left: auto;
        margin-right: auto;
    }

    div.ui.basic.head.segment {
      position: absolute;
      top: 0;
      width: 100%;
      margin-left: -40px;
    }

    p.logged-in-as {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: -3rem;
    }

    p.health-center-name {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    p.select-health-center {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3rem;
      margin-top: 6rem;
    }

    button.ui.logout.button {
      background: $color-light-background;
      border: 2px solid white;
      position: absolute;
      bottom: 0;
      width: 89%;
    }

    button.ui.primary.button.group-assessment,
    button.ui.primary.button.individual-assessment {
      padding: 0;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      .icon {
        background-size: 50px 50px;
        display: block;
        height: 50px;
        width: 50px;
        float: left;
        line-height: 60px;
        margin-top: 5px;
        margin-left: 50px;
      }

      .text {
        line-height: 60px;
        float: left;
        margin-left: 60px;
      }

      .icon-back {
        float: left;
        margin-top: 17px;
        margin-left: 90px;
        transform: rotate(180deg);
      }
    }

    button.ui.primary.button.group-assessment .icon {
      background-image: url(#{$img-path}icon-group-encounter.svg);
    }

    button.ui.primary.button.individual-assessment {

      .icon {
        background-image: url(#{$img-path}icon-individual-encounter.svg);
        background-size: 40px 40px;
        margin-left: 55px;
        margin-top: 8px;
        height: 40px;
        width: 40px;
      }

      .icon-back {
        margin-left: 71px;
      }
    }

    // Maintaing margin from 'sign out' button when selecting health center.
    button.health-center:last-child {
        margin-bottom: 6rem !important;
    }
}

div.page-person-create {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    width: 100%;
}

div.page-people {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    div.search-wrapper {
        flex: 1 1 auto;
        height: 100%;
        overflow-y: hidden;

        > div.ui.segment {
            height: 100%;
        }
    }

    div.search {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;

        div.search-middle {
            height: 100%;
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}

div.page-relationship {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    label.relationship-selection {
        font-size: 1.57rem; //22px light
    }

    div.relationship-selector {
        margin-bottom: 50px;
        margin-left: 60px;
    }

    div.current-groups {
      margin-bottom: 30px;
    }
}

div.page-person {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .particiants-list {
        margin-top: 50px;
    }
}

//Device Status Page
.device-status {
  button {
    margin-bottom: 20px;
  }

  .general-sync {
    margin-bottom: 40px;
  }

  .health-centers .health-center {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid;

    .health-center-info button {
      margin-top: 20px;
    }
  }
}

//Common for Prenatal Encounter and Prenatal Activity pages
div.page-prenatal-activity,
div.page-prenatal-encounter {
    padding: 0 35px 35px 35px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .item .content {
      padding-top: 1em !important;

      .label {
        font-weight: bold;
        padding-right: 10px;
      }
    }

    .item.measurements {
      display: grid;
      grid-template-columns: 25% 30% 20% 20%;
      grid-gap: 1em;

      .label {
        font-weight: bold;
      }

      .ui:not(:last-child) {
        border-right: 1px solid aquamarine;
      }
    }

    .ui.full.segment {
      color: $color-text;

      .full.content {
        min-height: 430px;
      }
    }

}

// Prenatal Encounter page
div.page-prenatal-encounter {

    .ui.full.segment {

      .full.content {

        .card .content p {
          white-space: unset;
        }
      }
    }
}

// Prenatal Activity page
div.page-prenatal-activity {

    .ui.task.segment {

      .column.core-physical-exam {
        width: 25%;

        a {
          width: 131px;
        }
      }
    }

    .tasks-count {
      background: $color-primary;
      padding: 5px 15px;
      font-size: 18px;
      font-weight: bold;
    }

    .ui.full.segment {

      .label {
        font-weight: bold;
        margin-bottom: 20px;

        &.helper {
          margin-bottom: 40px;
        }
      }

      .form-input {
        margin-bottom: 30px;

        // Pregnanacy Dating Inputs
        &.range {
          background: white;
          border: 2px solid $color-light-gray;
          padding: 5px;
          width: 50%;
        }

        &.date {
          height: 2em;
          width: 50%;

          .dropdown,
          .dropdown-open {
            width: 100%;
          }

          .dropdown--button-container {
            background: white;
            border: 2px solid $color-light-gray;

            input {
              border: 0;
              padding: 5px;
            }
          }
        }

        // Number inputs
        &.number {
          margin-bottom: 10px;

          input {
            border: 0;
            background: $color-light-gray;
            width: 100%;
            text-align: -webkit-center;
            font-weight: bold;
          }

          &.c-sections {
            margin-bottom: 40px;
          }
        }

        // Number inputs
        &.measurement {
          margin-bottom: 10px;

          .unit {
            width: 35%;
            float: left;
            font-weight: normal;
            margin-left: 20px;
            margin-top: 10px;
          }

          input {
            float: left;
            width: 60%;
          }

          &.bmi input {
            pointer-events: none;
            border: 1px solid;
            background: white;
          }
        }

        // Bool inputs
        &.yes-no {
          padding-bottom: 15px;
          margin-left: 25px;

          label {
            font-size: 25px;
            margin-left: 10px;
          }

          input {
            height: 28px;
            width: 25px;
            float: left;
          }
        }
      }

      .checkbox-select-input {

        .ui.checkbox.activity {
          margin-bottom: 10px;

          label {
            font-size: 24px;

            &:before {
              height: 24px;
              width: 24px;
            }
          }
        }
      }

      .separator {
        color: $color-light-gray;
        margin: 30px 0;
        width: 100%;
        border: 1px solid;

        &.double {
          margin: 60px 0;
        }
      }

      .results {
        width: 100%;

        .edd-result,
        .ega-result {
          width: 45%;

          .value {
            font-size: 25px;
          }
        }

        .edd-result {
          float: left;
        }

        .ega-result {
          float: right;
        }

        .gravida-result,
        .para-result {
          font-size: 28px;

          span {
            margin-right: 10px;
          }
        }

        .gravida-result {
          width: 65%;
          float: left;
          text-align: center;
        }
      }

      .actions {

        &.history.obstetric.second button {
          width: 50%;
          float: left;
          margin: 0;

          &.active {
            border-left: 1px solid white;
          }
        }
      }

      .form.history {

        .ui.grid+.grid {
          margin-top: 0;
        }

        .ui.grid {

          .label {
            margin-bottom: 0;
          }

          .label.c-section-previous-delivery {
            margin-top: 20px;
          }
        }

        .label.successive-abortions {
          margin-top: 30px
        }
      }

      .form.examination {

        .ui.grid+.grid {
          margin-top: 0;
        }

        .label {
          font-size: 30px;

          &.self-guidance {
            font-size: 25px;
          }
        }

        .title.dia {
          margin-top: 20px;
        }

        .title.hands,
        .title.legs {
          margin-left: 25px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .title.legs {
          margin-top: 15px;
        }

        .previous-value {
          display: inline-block;
          font-size: 18px;
          width: 100%;
        }
      }

      .form.patient-provisions {
        min-height: 335px;
      }
    }
}
