@mixin next-steps {

  .instructions {
    font-weight: bold;
    margin-bottom: 30px;

    span.medicine {
      color: $color-light-blue;
    }

    span.date {
      font-style: italic;
    }

    .header {
      margin-bottom: 5px;
      margin-top: 20px;

      i {
        display: inline-block;
        vertical-align: middle;

        &.icon-phone {
          background: url(#{$img-path}icon-phone.svg) center center no-repeat;
          background-size: 30px 30px;
          height: 30px;
          width: 50px;
        }

        &.icon-patient-in-bed {
          background: url(#{$img-path}icon-patient-in-bed.svg) center center no-repeat;
          background-size: 30px 30px;
          height: 30px;
          width: 52px;
        }

        &.icon-forms {
          background: url(#{$img-path}icon-forms-blue.svg) center center no-repeat;
          background-size: 45px 50px;
          height: 35px;
          width: 50px;
        }

        &.icon-shuttle {
          background: url(#{$img-path}icon-shuttle.svg) center center no-repeat;
          background-size: 32px 50px;
          height: 19px;
          width: 50px;
        }

        &.icon-oral-solution {
          background: url(#{$img-path}icon-oral-solution.svg) center center no-repeat;
          background-size: 26px 32px;
          height: 32px;
          margin-right: 27px;
          width: 32px;
        }

        &.icon-pills {
          background: url(#{$img-path}icon-pills.svg) center center no-repeat;
          background-size: 36px 50px;
          height: 36px;
          margin-right: 5px;
          width: 50px;
        }

        &.icon-open-book {
          background: url(#{$img-path}icon-open-book.svg) center center no-repeat;
          background-size: 36px 36px;
          padding: 0 10px;
          margin-right: 10px;
          height: 36px;
          width: 52px;
        }

        &.icon-capsule {
          height: 36px;
          margin-right: 5px;
          width: 50px;
        }

        &.icon-capsule.red {
          background: url(#{$img-path}icon-capsule-red.svg) center center no-repeat;
          background-size: 36px 50px;
        }

        &.icon-capsule.blue {
          background: url(#{$img-path}icon-capsule-blue.svg) center center no-repeat;
          background-size: 36px 50px;
        }
      }
    }

    .prescription {
      margin-left: 54px;
    }

    .icon-label {
      align-items: center;
      display: flex;
    }
  }
}

@mixin recommendation-label {

  label {
    font-size: 24px;

    span {
      margin: 7px;

      &.strong {
        font-weight: 600;
      }
    }

    &:before {
      height: 24px;
      width: 24px;
    }
  }
}

// We design for a minimum width of 800px.
html,
body {
  height: 100%;
  min-height: 100vh;
  min-width: 800px;
}

// Some things which apply to the whole body.
body {
  font-family: $font;
  font-size: 22px;
  color: $color-text;
  background: #0393db url(#{$img-path}bg.svg) no-repeat center 12px;
  background-size: 1193px 818px;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: auto;

  &.no-bg {
    background-image: none;
  }

  img.orientation {
    image-orientation: none;
  }
}

// This is our wrapper for the whole page.
div.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.container {
  height: 100%;
}

// This is for the content below the language switcher, which should
// grow to fill the available height.
div.page-content {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .ui.message.warning > .header {
    margin-bottom: 20px;
  }
}

div.language-switcher {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .version {
    margin-right: 16px;
    height: 24px;
    color: $color-white;
    font-size: .6em;
    cursor: pointer;
  }

  .sync-icon {
    color: $color-white;
    cursor: pointer;
  }

  .links-translate {
    margin: 0;
    padding: 6px 25px;
    list-style: none;
    display: flex;
    justify-content: flex-start;

    li {
      display: inline-block;
      margin-right: 15px;
      position: relative;
      display: flex;
      height: 27px;
      color: $color-white;
      font-size: .8em;
      cursor: pointer;

      &.active {
        color: $color-dark-blue;
      }

      a {
        display: block;
        width: 27px;
        height: 27px;
        background: $color-white;
        border-radius: 50%;
        position: relative;
        margin-left: 10px;
      }
    }

    li.active a:before {
      width: 35px;
      height: 35px;
      border: 2px solid $color-dark-blue;
      content: " ";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: -4px;
      left: -4px;
    }
  }
}

details.error-log {
  color: $color-orange;
  padding: 15px;

  ol {
    background: $color-white;
    font-size: 18px;
    max-height: 400px;
    overflow: auto;
  }
}

details.sync-manager {
  color: $color-orange;
  padding: 15px;

  .segment.ui {
    padding: 10px;
  }
}

div.page-pincode {
  font-size: 1.72rem; //24px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div.ui.login.form {
    width: 16em;
    margin-left: auto;
    margin-right: auto;
  }

  div.ui.basic.head.segment {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -40px;
  }

  div.general-info {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: -2rem;

    .logged-in-as,
    .device-info {
      margin-bottom: 0;
    }
  }

  p.select-location {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 6rem;
  }

  button.ui.logout.button {
    background: $color-light-background;
    border: 2px solid $color-white;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
  }

  // Maintaing margin from 'sign out' button when selecting health center.
  button.health-center:last-child {
    margin-bottom: 6rem !important;
  }
}

//Device Status Page
.device-status {
  button {
    margin-bottom: 20px;
  }

  .general-sync {
    margin-bottom: 40px;
  }

  .general-sync .sync-status {
    margin-bottom: 40px;
  }

  .login-request {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .health-centers .health-center {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid;

    .health-center-info button {
      margin-top: 20px;
    }
  }
}

div.page-clinical {
  font-size: 1.72rem; //24px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div.ui.basic.head.segment {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -40px;
  }
}

button.ui.primary.button.group-assessment,
button.ui.primary.button.dashboard,
button.ui.primary.button.individual-assessment {
  padding: 0;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  .icon {
    background-size: 50px 50px;
    display: block;
    height: 50px;
    width: 50px;
    float: left;
    line-height: 60px;
    margin-top: 5px;
    margin-left: 50px;
  }

  .text {
    line-height: 60px;
    float: left;
    margin-left: 60px;
  }

  .icon-back {
    float: left;
    margin-top: 17px;
    margin-left: 90px;
    transform: rotate(180deg);
  }
}

button.ui.primary.button.group-assessment .icon {
  background-image: url(#{$img-path}icon-group-encounter.svg);
}

button.ui.primary.button.individual-assessment {

  .icon {
    background-image: url(#{$img-path}icon-individual-encounter.svg);
    background-size: 40px 40px;
    margin-left: 55px;
    margin-top: 8px;
    height: 40px;
    width: 40px;
  }

  .icon-back {
    margin-left: 57px;
  }
}

div.page-person-create {
  margin: 0 auto;
  padding: 0 35px 35px 35px;
  width: 100%;
}

div.page-people {
  margin: 0 auto;
  padding: 0 35px 35px 35px;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  div.search-wrapper {
    flex: 1 1 auto;
    height: 100%;
    overflow-y: hidden;

    > div.ui.segment {
      height: 100%;

      div.search {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;

        div.search-middle {
          height: 100%;
          flex: 1 1 auto;
          overflow-y: auto;
        }
      }
    }
  }
}

div.page-relationship {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    label.relationship-selection {
        font-size: 1.57rem; //22px light
    }

    div.relationship-selector {
        margin-bottom: 50px;
        margin-left: 60px;
    }

    div.current-groups {
      margin-bottom: 30px;
    }
}

div.page-person {
    margin: 0 auto;
    padding: 0 35px 35px 35px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .particiants-list {
        margin-top: 50px;
    }
}

div.page-participant,
div.page-activity {

  .ui.full.segment .content {

    .activity-helper {
      margin-bottom: 5px;
    }

    .range-helper {
      margin-top: 0;
    }

    .fbf-to-receive {
      border-bottom: 2px solid;
      border-top: 2px solid;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .label {
      margin-bottom: 10px;
    }

    .form-input {
      margin-bottom: 30px;

      // Number inputs
      &.measurement {
        height: 50px;

        .unit {
          float: left;
          font-weight: normal;
          margin-left: 20px;
          margin-top: 10px;
          width: 35%;
        }

        input,
        select {
          background-color: $color-white;
          border: 2px solid $color-gray-border;
          color: $color-text;
          float: left;
          width: 60%;
        }
      }

      // Bool inputs
      &.yes-no {
        padding-bottom: 15px;
        margin-left: 25px;

        label {
          font-size: 25px;
          margin-left: 10px;
        }

        label:before {
          content: " ";
          display: inline-block;
          position: relative;
          top: 5px;
          margin-right: 10px;
          width: 26px;
          height: 26px;
          border-radius: 13px;
          border: 2px solid $color-gray-border;
          background-color: transparent;
        }

        input[type=radio] {
          display: none;
        }

        input[type=radio]:checked + label:after {
          content: " ";
          border-radius: 7px;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 25px;
          left: 30px;
          display: block;
          background: $color-text;
        }
      }
    }
  }
}

.sync-status {

  li.active {
    font-weight: bold;
  }
}

//Device Status Page
.device-status {
  button {
    margin-bottom: 20px;
  }

  div.relationship-selector {
    margin-bottom: 50px;
    margin-left: 60px;
  }

  div.current-groups {
    margin-bottom: 30px;
  }
}

div.page-person {
  margin: 0 auto;
  padding: 0 35px 35px 35px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .particiants-list {
    margin-top: 50px;
  }
}

// Common for Prenatal Encounter and Prenatal Activity pages
div.page-encounter,
div.page-activity,
div.page-outcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 35px 35px 35px;

  .item .content {
    padding-top: 1em !important;

    .label {
      font-weight: bold;
      padding-right: 10px;

      &.upper {
        text-transform: uppercase;
      }
    }
  }

  .item.measurements {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 25% 30% 20% 20%;

    .label {
      font-weight: bold;
    }

    .ui:not(:last-child) {
      border-right: 1px solid aquamarine;
    }
  }

  .form.history.obstetric.second .ui.grid {
    min-height: 70px;
  }

  .ui.full.segment {
    color: $color-text;
    margin-bottom: 20px;

    .full.content {
      min-height: 235px;
    }
  }

}

// Common for Encounter pages
div.page-encounter {

    .ui.full.segment {

      .full.content {

        .card .content p {
          text-align: center;
          white-space: unset;
        }
      }
    }
}

//Common for Activity pages
div.page-activity {

    .ui.task.segment {

      .column.core-physical-exam {
        width: 25%;

        a {
          width: 131px;
        }
      }
    }

    .tasks-count {
      background: $color-primary;
      padding: 5px 15px;
      font-size: 18px;
      font-weight: bold;
    }

    .ui.full.segment {

      .label {
        font-weight: bold;
        margin-bottom: 20px;

        &.helper {
          margin-bottom: 40px;
        }
      }

      .form .ui.grid {

        .measurement input {
          width: 85%;
        }

        .measurement .unit {
          width: unset;
        }
      }

      .form.muac .ui.grid {
        margin-top: 30px;
      }
    }
}

// Prenatal Encounter, Nutrition Encounter and
// Acute Illness Encounter pages
div.page-encounter.nutrition,
div.page-encounter.prenatal,
div.page-encounter.acute-illness {

  .ui.full.segment {

    .reports-wrapper {

      .report-wrapper {
        display: grid;
        grid-column-gap: 35px;
        grid-template-columns: 222px auto;

        .report-text {
          margin-top: 55px;

          .report-label {
            font-size: 28px;
          }

          .report-link {
            color: $color-light-blue;
            font-size: 22px;
            line-height: 40px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Acute Illness pages
div.page-encounter.acute-illness,
div.page-activity.acute-illness {

    .item .content.person-details {
      padding-top: 0 !important;

      h2 {
        margin-bottom: 5px;
      }

      .age-wrapper {
        margin-bottom: 5px;
      }

      .diagnosis-wrapper {

        .label {
          float: left;
          max-width: 54%;
        }

        .diagnosis {
          float: left;
          max-width: 46%;
        }

        &.covid-19 {

          .label {
            max-width: 58%;
          }

          .diagnosis {
            max-width: 42%;
          }
        }
      }
    }
}

// Acute Illness Encounter page
div.page-encounter.acute-illness {

    .ui.full.segment {

      .full.content {
        min-height: 430px;
      }
    }
}

// Prenatal Encounter page
div.page-encounter.prenatal {

  .overlay .content {
    font-size: 28px;

    .person-name {
      color: $color-primary;
    }
  }
}

// Acute Illness Activity page
div.page-activity.acute-illness {

  .ui.full.segment {

    .full.content {
      min-height: 210px;
    }

    .symptoms-form.gi .symptoms {
      margin-bottom: 30px;
    }

    .ui.form {
      min-height: 210px;
    }

    .ui.form.medication-distribution,
    .ui.form.send-to-hc,
    .ui.form.health-education {

      h2 {
        text-transform: uppercase;
      }

      @include next-steps;
    }

    .ui.form.next-steps.call-114 {

      .helper.call-114 {
        margin-bottom: 5px;
      }

      .review-case-wrapper {
        display: flex;

        .helper.review-case {
          margin-bottom: 30px;
        }

        img {
          height: 35px;
          margin-left: 4px;
          margin-top: -4px;
        }
      }

    }

    .ui.form.physical-exam.vitals {

      .label {
        line-height: 40px;
      }
    }

    .label {
      margin-bottom: 5px;
    }

    .helper {
      font-style: italic;
      margin-bottom: 20px;
    }

    .question-helper {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .form-input.period {
      background: $color-white;
      border: 2px solid $color-lighter-gray;
      margin-bottom: 0;
      margin-top: -10px;
      padding: 5px;
      width: 100%;
    }

    .form-input.measurement {
      margin-bottom: 10px;

      .unit {
        float: left;
        font-weight: 700;
        margin-left: 20px;
        margin-top: 10px;
        width: 35%;
      }

      input {
        background-color: $color-white;
        border: 2px solid $color-gray-border;
        float: left;
        width: 60%;
      }

      &.disabled input{
        pointer-events: none;
      }
    }

    .form-input.yes-no {
      margin-left: 25px;
      padding-bottom: 15px;

      label {
        font-size: 25px;
        margin-left: 10px;
      }

      label:before {
        background-color: transparent;
        border: 2px solid $color-gray-border;
        border-radius: 13px;
        content: " ";
        display: inline-block;
        height: 26px;
        margin-right: 10px;
        position: relative;
        top: 5px;
        width: 26px;
      }

      input[type=radio] {
        display: none;
      }

      input[type=radio]:checked + label:after {
        background: $color-text;
        border-radius: 7px;
        content: " ";
        display: block;
        height: 14px;
        left: 30px;
        position: absolute;
        top: 25px;
        width: 14px;
      }

      &.derived {
        margin-left: 70px;
      }
    }

    .form-input.rapid-test-result {
      background: $color-white;
      border: 2px solid $color-lighter-gray;
      color: $color-text;
      padding: 5px;
      width: 60%;
    }

    .form-input.number {

      input {
        background-color: $color-white;
        border: 2px solid $color-gray-border;
        font-size: 22px;
        font-weight: bold;
        height: 35px;
        text-align: center;
        text-align: -webkit-center;
        width: 100%;
      }
    }

    .checkbox-select-input {
      padding-bottom: 15px;

      .ui.checkbox.activity {
        margin-bottom: 10px;

        @include recommendation-label;
      }
    }

    .previous-value {
      display: inline-block;
      font-size: 18px;
      width: 100%;
    }

    .separator {
      margin: 30px 0;
      width: 100%;
    }

    .days-present {
      font-size: 20px;
      font-weight: 700;
    }

    .checkbox.activity {
      margin-bottom: 12px;
    }
  }
}

// Prenatal Activity and Nutrition Activity pages
div.page-activity.prenatal,
div.page-activity.nutrition,
div.page-activity.home-visit {

  .ui.full.segment {

      .activity-helper {
        margin-bottom: 5px;
      }

      .range-helper {
        margin-top: 0;
      }

      .form-input {
        margin-bottom: 30px;

      // Pregnanacy Dating Inputs
      &.select {
        background: $color-white;
        border: 2px solid $color-light-gray;
        color: $color-text;
        padding: 5px;
        width: 50%;
      }

      &.date {
        height: 2em;
        width: 50%;

        .dropdown,
        .dropdown-open {
          width: 100%;
        }

        .dropdown--button-container {
          background: $color-white;
          border: 2px solid $color-light-gray;

          input {
            border: 0;
            padding: 5px;
          }
        }
      }

      &.hiv-test-result {
        background: $color-white;
        border: 2px solid $color-light-gray;
        margin-top: 15px;
        padding: 5px;
        width: 73%;
      }

      // Number inputs
      &.number {
        margin-bottom: 10px;

        input {
          border: 2px solid $color-gray-border;
          background-color: $color-white;
          width: 100%;
          text-align: center;
          text-align: -webkit-center;
          font-weight: bold;
        }

        &.c-sections {
          margin-bottom: 40px;
        }
      }

      // Number inputs
      &.measurement {
        height: 50px;
        margin-bottom: 10px;

        .unit {
          float: left;
          font-weight: normal;
          margin-left: 20px;
          margin-top: 10px;
          width: 35%;
        }

        input {
          background-color: $color-white;
          border: 2px solid $color-gray-border;
          float: left;
          width: 60%;
        }

        &.disabled input {
          pointer-events: none;
        }
      }

      // Bool inputs
      &.yes-no {
        padding-bottom: 15px;
        margin-left: 25px;

        label {
          font-size: 25px;
          margin-left: 10px;
        }

        label:before {
          content: " ";
          display: inline-block;
          position: relative;
          top: 5px;
          margin-right: 10px;
          width: 26px;
          height: 26px;
          border-radius: 13px;
          border: 2px solid $color-gray-border;
          background-color: transparent;
        }

        input[type=radio] {
          display: none;
        }

        input[type=radio]:checked + label:after {
          content: " ";
          border-radius: 7px;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 25px;
          left: 30px;
          display: block;
          background: $color-text;
        }
      }
    }

    .checkbox-select-input {

      .ui.checkbox.activity {
        margin-bottom: 10px;

        label {
          font-size: 24px;

          &:before {
            height: 24px;
            width: 24px;
          }
        }
      }
    }

    .separator {
      color: $color-light-gray;
      margin: 30px 0;
      width: 100%;
      border: 1px solid;

      &.double {
        margin: 60px 0;
      }
    }

    .results {
      display: inline-block;
      width: 100%;

      .edd-result,
      .ega-result {
        width: 45%;

        .value {
          font-size: 25px;
        }
      }

      .edd-result {
        float: left;
      }

      .ega-result {
        float: right;
      }

      .gravida-result,
      .para-result {
        font-size: 28px;

        span {
          margin-right: 10px;
        }
      }

      .gravida-result {
        width: 65%;
        float: left;
        text-align: center;
      }
    }

    .actions {

      &.history.obstetric.second button {
        width: 50%;
        float: left;
        margin: 0;

        &.active {
          border-left: 1px solid $color-white;
        }
      }
    }

    .form.history {

      .ui.grid + .grid {
        margin-top: 0;
      }

      .ui.grid {

        .label {
          margin-bottom: 0;
        }

        .label.c-section-previous-delivery {
          margin-top: 20px;
        }
      }

      .label.successive-abortions {
        margin-top: 30px
      }

      &.medical,
      &.social {

        .alert img {
          margin-top: -10px;
        }
      }
    }

    .form.examination {

      .ui.grid + .grid {
        margin-top: 0;
      }

      .label {
        font-size: 30px;

        &.self-guidance {
          font-size: 25px;
        }
      }

      .ui.grid.systolic img {
        margin-top: -10px;
      }

      .title.dia {
        margin-top: 20px;
      }

      .title.hands,
      .title.legs {
        margin-left: 25px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .title.legs {
        margin-top: 15px;
      }

      .previous-value {
        display: inline-block;
        font-size: 18px;
        width: 100%;
      }
    }

    .form.patient-provisions {
      min-height: 335px;
    }
  }
}

// Acute Illness Activity page
div.page-activity.nutrition {

  .ui.full.segment {

    .full.content {
      min-height: 210px;
    }

    .symptoms-form.gi .symptoms {
      margin-bottom: 30px;
    }

    .ui.form {
      min-height: 210px;
    }

    .ui.form.send-to-hc,
    .ui.form.health-education {
      h2 {
        text-transform: uppercase;
      }

      @include next-steps;
    }

    .label {
      margin-bottom: 5px;
    }

    .form-input.yes-no {
      margin-left: 25px;
      padding-bottom: 15px;

      label {
        font-size: 25px;
        margin-left: 10px;
      }

      label:before {
        background-color: transparent;
        border: 2px solid $color-gray-border;
        border-radius: 13px;
        content: " ";
        display: inline-block;
        height: 26px;
        margin-right: 10px;
        position: relative;
        top: 5px;
        width: 26px;
      }

      input[type=radio] {
        display: none;
      }

      input[type=radio]:checked + label:after {
        background: $color-text;
        border-radius: 7px;
        content: " ";
        display: block;
        height: 14px;
        left: 30px;
        position: absolute;
        top: 25px;
        width: 14px;
      }

      &.derived {
        margin-left: 70px;
      }
    }
  }
}

div.page-activity.prenatal,
div.page-activity.home-visit {

  .ui.full.segment {

    .full.content {

      @include next-steps;

      .helper {
        margin-bottom: 20px;
      }

      .checkbox-select-input {
        margin-bottom: 20px;
      }

      .form.appointment-confirmation {
        min-height: 330px;

        .label {
          margin-bottom: 30px;
        }
      }

      .form.newborn-enrolment {
        min-height: 150px;

        button {
          margin-top: 20px;
          width: 50%;
        }
      }
    }
  }
}

div.page-activity.well-child {

  .ui.full.segment {

    .full.content {

      @include next-steps;

      .helper {
        font-style: italic;
      }

      .date {
        margin-bottom: 20px;
      }

      .form-input {
        margin-bottom: 30px;

        &.date {
          height: 2em;
          width: 50%;

          .dropdown,
          .dropdown-open {
            width: 100%;

            .dropdown--button-container {
              background: $color-white;
              border: 2px solid $color-light-gray;

              input {
                border: 0;
                color: $color-text;
                padding: 5px;
              }
            }
          }
        }

        &.date.previous {
          height: 100%;
          margin-left: 20px;
          width: 60%;
        }

        &.apgars {
          background: $color-white;
          border: 2px solid $color-light-gray;
          color: $color-text;
          padding: 5px;
          width: 50%;
        }

      }

      .why-not {
        margin-bottom: 30px;
        margin-left: 20px;
      }

      .ui.checkbox.activity {
        margin-top: 30px;

        label {
          padding-left: 40px;
        }

        label:before,
        label:after {
          left: 0;
        }
      }

      .future-vaccinations {
        border-top: 2px solid $color-gray;
        padding-top: 30px;

        .next-vaccination {
          margin-bottom: 10px;
          margin-top: 15px;

          .name {
            float: left;
            font-weight: 500;
            height: 2em;
            width: 80%;
          }

          .due-date {
            float: left;
            font-weight: 500;
            height: 2em;
            width: 18%;
          }
        }
      }

      .button.review-history {
        margin-bottom: 30px;
      }
    }
  }
}

div.page-outcome {

  .tasks-count {
    background: $color-primary;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
  }

  .ui.full.segment {

    .label {
      font-weight: bold;
      margin-bottom: 20px;

      &.helper {
        margin-bottom: 40px;
      }
    }
  }

}

// Pregnancy Outcome page
div.page-outcome.pregnancy {

  .ui.full.segment {

    .form-input {
      margin-bottom: 30px;

      &.date {
        height: 2em;
        width: 50%;

        .dropdown,
        .dropdown-open {
          width: 100%;
        }

        .dropdown--button-container {
          background: $color-white;
          border: 2px solid $color-light-gray;

          input {
            border: 0;
            padding: 5px;
          }
        }
      }

      &.pregnancy-outcome {
        background: $color-white;
        border: 2px solid $color-light-gray;
        padding: 5px;
        width: 73%;
      }

      // Bool inputs
      &.yes-no {
        padding-bottom: 15px;
        margin-left: 25px;

        label {
          font-size: 25px;
          margin-left: 10px;
        }

        label:before {
          content: " ";
          display: inline-block;
          position: relative;
          top: 5px;
          margin-right: 10px;
          width: 26px;
          height: 26px;
          border-radius: 13px;
          border: 2px solid $color-gray-border;
          background-color: transparent;
        }

        input[type=radio] {
          display: none;
        }

        input[type=radio]:checked + label:after {
          content: " ";
          border-radius: 7px;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 25px;
          left: 30px;
          display: block;
          background: $color-text;
        }
      }
    }

  }
}

div.page-clinical-progress-report,
div.page-demographics-report {
  background: $color-light-gray;
  padding: 0 20px 35px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ui.basic.segment.head {
    padding: 25px;

    .ui.header {
      color: $color-text;
    }

    .icon-back {
      background: url(#{$img-path}icon-back-dark.svg);
      background-size: 34px 27px;
      position: absolute;
    }
  }

  .ui.unstackable.items {
    overflow-y: auto;

    .pane-heading {
      font-size: 16px;
      font-weight: 700;
      padding: 5px 15px;
      text-transform: uppercase;

      &.gray {
        background: $color-dark-background;
      }

      &.red {
        background: $color-velvet;
      }

      &.blue {
        background: $color-primary;
      }
    }

    .pane-content {
      background: $color-white;
      color: $color-text;
      font-size: 18px;
      padding: 20px 0 20px 40px;
    }
  }
}

div.page-clinical-progress-report {

  .header-pane {
    background: $color-white;
    margin-bottom: 20px;
    padding: 40px 20px;

    .mother-details {
      display: grid;
      grid-column-gap: 30px;
      grid-template-columns: 120px 40% 40%;

      .content {
        color: $color-text;

        .mother-name, .edd {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }

      .label {
        font-weight: bold;
      }

      .value {
        margin-left: 10px;
      }
    }

    .gravida-para {
      color: $color-text;
      display: grid;
      grid-template-columns: 25% auto;
      line-height: 40px;
      margin-left: 150px;

      .label {
        font-weight: bold;
        text-transform: uppercase;
      }

      .gravida {
        border-left: 1px solid $color-light-gray;
        border-right: 1px solid $color-light-gray;
        text-align: center;
      }

      .para {

        > .label {
          margin-left: 30px;
        }

        .para-breakdown {
          display: grid;
          grid-template-columns: 20% 25% 25% 30%;
          line-height: 28px;
          text-align: center;

          .label.small {
            font-size: 13px;
            font-weight: 600;
          }

          .term, .pre-term, .abortions {
            border-right: 1px solid $color-light-gray;
          }
        }
      }
    }
  }

  .risk-factors,
  .medical-diagnosis,
  .obstetric-diagnosis {
    background: $color-white;
    margin-bottom: 20px;

    .pane-content p {
      line-height: 32px;
      margin-bottom: 5px;
    }
  }

  .risk-factors > .pane-heading {

    img {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .patient-progress {

    .caption {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: uppercase;

      &.trends {
        margin-bottom: 0;
        margin-top: 100px;
      }

      &.photos {
        margin-top: 70px;
      }
    }

    .timeline-section {

      .indicators {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
        margin-left: 20px;

        .heart-rate-label, .movements-label {

          span {
            margin-right: 25px;
          }
        }
      }

      .timeline {

        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 25% 25% 35%;

        .trimester-timeline {

          > p, > span {
            float: left;
          }

          p.blue {
            border-top: 10px solid $color-primary;
          }

          p.gray {
            border-top: 10px solid $color-light-gray;
          }

          span {
            margin-top: -7px;
          }

          .due-date-info {
            float: right;
            margin-top: -15px;
            width: 40px;

            .due-date-icon {

              img {
                height: 40px;
                width: 40px;
              }
            }

            .due-date-label {
              font-size: 14px;
              line-height: 20px;
              width: 100px;
            }

          }

        }
      }

    }

    .visits-section {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 25% 25% 40%;

      .trimester-visits {
        border-left: 1px solid $color-light-gray;
        font-size: 16px;
        padding-left: 10px;
        padding-top: 30px;

        .label-trimester {
          font-weight: bold;
        }

        .details {
          display: grid;
          grid-template-columns: 50% 50%;

          .visits {
            text-align: right;

            img {
              height: 20px;
              margin-right: 5px;
              width: 20px;
            }
          }
        }
      }

    }

    .photos-section {
      display: grid;
      grid-gap: 28px;
      grid-template-columns: 150px 150px 150px 150px;

      .progress-photo {

        img {
          height: 150px;
        }

        .ega {
          background-color: $color-gray;
          color: $color-white;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
        }
      }

    }

    .trends-section {

      .chart-heading {
        margin-left: 25px;

        img {
          vertical-align: middle;
          width: 20px;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          margin-left: 10px;
          text-transform: uppercase;
          vertical-align: middle;
        }
      }

      table {
        color: $color-darker-gray;
        margin-bottom: -20px;

        th, td {
          font-size: 16px;
          line-height: 24px;
          padding: 5px;
          text-align: center;
          width: 97px;

          &.uppercase {
            text-transform: uppercase;
          }
        }

        th {
          background-color: $color-light-gray;
        }

      }

      .illustrative-purposes {
        color: $color-darker-gray;
        margin-bottom: 50px;
        margin-top: -90px;
        font-size: 12px;
        margin-left: 60px;

        &:before {
          content: '*';
          margin-left: -15px;
          padding-right: 5px;
        }
      }
    }

  }
}

div.page-demographics-report {

  .patient-information, .family-information, .address-information {
    margin-bottom: 20px;
  }

  .family-information .children-table {
    margin-bottom: 40px;
    margin-top: 20px;

    .thead {
      border-bottom: 2px solid $color-light-gray;
      width: 95%;

      .label {
        width: 50%;

        &.first {
          float: left;
        }
      }
    }

    .row {
      border-bottom: 1px solid $color-light-gray;
      height: 24px;
      width: 95%;

      &:last-child {
        border-bottom: 0;
      }

      .value {
        width: 50%;

        &.first {
          float: left;
        }
      }
    }
  }

  .pane-content {

    .ui.image {
      margin-bottom: 15px;
    }

    p {
      line-height: 26px;
      margin-bottom: 5px;

      .label {
        font-weight: bold;
        width: 40%;
      }

      .value {
        float: right;
        width: 60%;
      }
    }
  }
}

div.page-encounter-types {

  p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
  }

    button.ui.primary.button {
      height: 60px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: 100%;

    .text {
      float: left;
      line-height: 60px;
      margin-left: 40px;
      text-align: left;
      width: 80%;
    }

    .icon-back {
      float: left;
      margin-top: 17px;
      transform: rotate(180deg);
    }
  }
}

div.page-participants {

  div.search-wrapper {
    flex: 1 1 auto;
    height: 100%;
    overflow-y: hidden;

    > div.ui.segment {
      height: 100%;

      div.search {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;

        div.search-middle {
          height: 100%;
          flex: 1 1 auto;
          overflow-y: auto;
        }
      }
    }
  }
}

div.page-participant.group {

  .ui.full.segment {

    .ui.form.send-to-hc,
    .ui.form.health-education {

      h2 {
        text-transform: uppercase;
      }

      @include next-steps;
    }
  }
}

div.page-participant.acute-illness,
div.page-participant.nutrition,
div.page-participant.home-visit,
div.page-participant.well-child,
div.page-participant.prenatal {
    padding-bottom: 35px;

  p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .label-visit {
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .label-pregnancy-concluded {
    margin-bottom: 30px;
  }

  .separator {
    border: 1px solid;
    margin-bottom: 40px;
    margin-top: 105px;
  }

  div.ui.primary.button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .button-label {
      text-align: left;

      .encounter-label {
        margin-bottom: 15px;
      }
    }

    .icon-back {
      transform: rotate(180deg);
    }
  }
}

div.page-participant.acute-illness {

  .active-illnesses {
    height: 250px;
    overflow-y: auto;

    .active-illness {
      margin-bottom: 10px;
    }
  }

  .start-new-encounter {
    margin-top: 50px
  }
}

div.page-report.acute-illness {
  background: $color-lighter-gray;
  padding: 20px;

  .ui.report.unstackable.items {

    .report-header {
      background: $color-white;
      border-top: 9px solid $color-primary;
      color: $color-text;
      padding: 20px 20px 0 25px;

      .icon-back {
        width: 34px;
        height: 27px;
        display: block;
        background: url(#{$img-path}icon-back-dark.svg);
        position: absolute;
        background-size: 34px 27px;
      }

      .ui.report.header {
        font-size: 30px;
      }

      .date {
        font-size: 22px;
        text-align: center;
      }
    }

    .item.person-details {
      background: $color-white;
      margin-top: 0;
      padding: 30px;

      .content {

         h2 {
           font-size: 27px;
           font-weight: bold;
         }

         p {
           color: $color-text;
           font-size: 20px;
           margin-bottom: 0;
         }
      }
    }

    div.pane {
      background: $color-white;
      margin-bottom: 20px;

      .pane-heading {
        color: $color-white;
        font-size: 22px;
        font-weight: bold;
        padding: 10px 15px;
        text-transform: uppercase;

        &.blue {
          background: $color-primary;
        }
      }

      .pane-content {
        background: $color-white;
        font-size: 22px;
        font-weight: bold;
        line-height: 32px;
        padding: 20px 0 20px 40px;
        text-transform: uppercase;
      }
    }

    div.pane.assessment .pane-content {

      .diagnosis {
        color: $color-red-alert;
        margin-bottom: 20px;

        p {
          margin-bottom: 5px;
        }

        .diagnosis-date {
          color: $color-light-blue;
        }
      }

      .visit-date {
        color: $color-light-blue;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .treatment-comment {
        color: $color-text;
        font-size: 20px;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 7px;
        text-transform: none;

        b {
          margin-left: 5px;
        }
      }
    }

    div.pane.symptoms .symptoms-table .symptoms-table-row {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 15% 5px auto;
    }

    div.pane.symptoms .symptoms-table .symptoms-table-row .date {
      color: $color-text;
      font-weight: 600;
      margin: auto 0 auto auto;
    }

    div.pane.symptoms .symptoms-table .symptoms-table-row .timeline {
      height: 100%;

      .line {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        img {
          margin-left: -6px;
          width: 12px;
        }

        &.half {
          height: 50%;
          justify-content: start;

          img {
            margin-top: -7px;
          }
        }

        &.blue {
          border-left: 1px solid $color-lighter-blue;
        }
      }
    }

    div.pane.symptoms .symptoms-table .symptoms-table-row ul {
      display: inline-block;
      list-style-type: none;
      margin: 5px 0;
      padding: 0;
    }

    div.pane.symptoms .symptoms-table .symptoms-table-row ul li {
      border-radius: 10px;
      color: $color-white;
      float: left;
      font-size: 16px;
      font-weight: bold;
      margin: 3px 5px;
      padding: 0 10px;
      text-transform: uppercase;

      &.general {
        background: $color-velvet;
      }

      &.respiratory {
        background: $color-orange-dark;
      }

      &.gi {
        background: $color-blue;
      }
    }

    div.pane.physical-exam .ui.table {
      border: 0;
      color: $color-text;
      margin: 0;
      padding: 5px 10px;
      text-align: center;
    }

    div.pane.physical-exam .ui.table.nutrition-signs {
      border-top: 10px solid $color-lighter-gray;
    }

    div.pane.physical-exam .ui.table thead th {
      background-color: $color-white;
      color: $color-text;
      width: 135px;

      &.first {
        text-align: left;
        width: 190px;
      }
    }

    div.pane.physical-exam .ui.table tbody td {
      font-weight: 600;
      width: 135px;

      &.first {
        text-align: left;
        width: 190px;
      }

      &.red {
        color: $color-red-alert;
      }

      &.yellow {
        color: $color-yellow;
      }

      &.green {
        color: $color-green;
      }
    }

    div.pane.actions-taken {
      @include next-steps;
    }

    div.pane.actions-taken .instructions {
      color: $color-text;
      margin-bottom: 0;
      padding: 20px;

      .recommendation {
        font-weight: normal;
        margin-left: 52px;

        @include recommendation-label;

        > span {
          margin-left: -5px;
        }
      }
    }

    div.actions {
      margin: 0
    }
  }

}

div.page-report.well-child {
  background: unset;

  .pane-heading {
    background: $color-primary;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
  }

  .patient-info {
    background: $color-white;
    display: flex;
    padding: 30px 40px;

    .details {
      padding-left: 25px;

      .ui.header {
        color: $color-primary;
        font-size: 28px;
        font-weight: bold;
      }

      p {
        color: $color-text;
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 5px;
      }
    }
  }

  .pane-content {
    background: $color-white;

    &.overflow {
      overflow-y: scroll;
    }

    .heading {
      border-bottom: 1px solid $color-text;
      color: $color-dark-gray;
      display: flex;
      font-size: 20px;
      font-weight: 600;
      padding: 15px 30px;
      width: 100%;
    }

    .heading.diagnosis {

      .assesment {
        width: 40%;
      }

      .status {
        width: 15%;
      }

      .date {
        margin-left: 25px;
        width: 28%;
      }
    }

    .heading.vaccination {

      .name {
        width: 35%;
      }

      .date {
        width: 25%;
      }

      .next-due {
        width: 20%;
      }

      .status {
        width: 20%;
      }
    }

    .heading.nutrition-signs {

      .name {
        width: 65%;
      }

      .date {
        width: 35%;
      }
    }

    .heading.next-appointment {

      .type {
        width: 35%;
      }

      .location {
        width: 40%;
      }

      .date {
        width: 25%;
      }
    }

    .entry {
      border-bottom: 1px solid $color-text;
      color: $color-dark-gray;
      display: flex;
      font-size: 22px;
      padding: 15px 30px;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }

    .entry .cell {
      align-self: center;
      text-align: left;
      padding-right: 20px;
    }

    .entry .cell.status,
    .milestone .status {
      border-radius: 10px;
      color: $color-white;
      font-size: 17px;
      margin: 3px 5px;
      padding: 0 10px;
      text-transform: uppercase;

      &.done {
        background: $color-blue;
      }

      &.behind,
      &.off-track,
      &.ongoing {
        background: $color-velvet;
      }

      &.up-to-date,
      &.on-track,
      &.resolved {
        background: $color-cyan;
      }

      &.ecd-behind {
        background: $color-orange-light;
      }

      &.no-status {
        color: $color-background;
        background: $color-background;
      }
    }

    .entry.no-matches {
      border-bottom: none;
      display: block;
      text-align: center;
    }

    .entry.diagnosis {

      .assesment {
        width: 40%;

        p {
          margin-bottom: 0;
        }
      }

      .status {
        width: 15%;
        padding-right: 20px;
      }

      .date {
        margin-left: 20px;
        width: 30%;
      }

      .icon-forward {
        align-self: center;
        background: url(#{$img-path}icon-forward-blue.svg) center center no-repeat;
        background-size: 45px 50px;
        height: 50px;
        margin-left: 20px;
        width: 50px;
      }
    }

    .entry.vaccination {
      .name {
        width: 35%;
      }

      .date {
        width: 25%;

        p {
          margin-bottom: 0;
        }
      }

      .next-due {
        width: 20%;
      }
    }

    .entry.nutrition-signs {
      .name {
        width: 65%;
      }

      .date {
        width: 35%;
      }
    }

    .entry.next-appointment {

      .type {
        width: 35%;
      }

      .location {
        width: 40%;
      }

      .date {
        width: 25%;
      }
    }

    .ecd-milestones {
      align-items: stretch;
      color: $color-dark-gray;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;

      .milestone {
        padding: 30px 0 20px;
        text-align: center;

        .status {
          font-size: 13px;
        }

        .description {
          font-size: 16px;
        }
      }
    }

    .growth-charts {
      margin-bottom: 60px;
      margin-left: -30px;
      margin-right: -30px;
    }

    .growth-photos {
      padding: 0 30px;

      .ui.cards .report.card {
        margin: 0 7px 15px;
        width: calc(16% - 10px);
      }

      .ui.cards .report.card .content {
        background: $color-white;
        color: $color-dark-gray;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        line-height: 35px;
        width: 100px;
      }
    }
  }

  .pane-action {
    border-top: 1px solid $color-text;
    background: $color-white;
    padding-bottom: 30px;
    padding-top: 25px;
    text-align: center;

    button {
      font-size: 20px;
      font-weight: 600;
      padding: 15px 10px;
    }
  }
}

div.page-case-management {

  .ui.segment.filters {
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    min-height: 60px;
    padding: 25px;

    button {
      background-color: $color-white;
      border-radius: 3px;
      color: $color-dark-gray;
      font-size: 24px;
      font-weight: 600;
      padding: 15px;
      text-transform: none;
    }

    button.active {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  .pane {
    background: $color-primary;

    .pane-heading {
      color: $color-white;
      font-size: 22px;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }

    .pane-content {
      background: $color-white;
      color: $color-dark-gray;
      font-size: 22px;
      font-weight: bold;
      padding: 20px;
      text-align: center;

      .follow-up-entry {
        border-bottom: 1px solid $color-text;
        display: flex;
        margin-top: 15px;
        padding-bottom: 15px;

        &:last-child {
          border-bottom: none;
        }

        .name {
          align-self: center;
          font-size: 20px;
          font-weight: 700;
          text-align: left;
          width: 200px;
        }

        .due {
          align-self: center;
          border-radius: 10px;
          color: $color-white;
          font-size: 15px;
          font-weight: bold;
          margin: 3px 5px;
          padding: 0 10px;
          text-transform: uppercase;
          width: 130px;

          &.overdue {
            background: $color-velvet;
          }

          &.today {
            background: $color-cyan;
          }

          &.this-week {
            background: $color-orange;
          }

          &.this-month {
            background: $color-blue;
          }

          &.next-month {
            background: $color-primary;
          }
        }

        .assesment {
          align-self: center;
          font-size: 18px;
          font-weight: 600;
          margin-left: 20px;
          text-align: left;
          width: 285px;

          p {
            margin-bottom: 0;
          }
        }

        .icon-forward {
          align-self: center;
          background: url(#{$img-path}icon-forward-blue.svg) center center no-repeat;
          background-size: 45px 50px;
          height: 50px;
          width: 45px;
        }
      }
    }
  }

  .overlay .content {
    font-size: 28px;

    .person-name {
      color: $color-primary;
    }

    button.stacked {
      margin-bottom: 15px;
    }

    button.stacked:last-child {
      margin-bottom: 0;
    }
  }
}
