svg.z-score,
svg.chart {

  .z-score-semibold {
    font-family: 'Nunito-SemiBold';
  }

  .z-score-gray {
    fill: $color-text;
  }

  .z-score-white {
    fill: $color-white;
  }

  .chart-outer-frame {
    fill: $color-ivory;
  }

  .chart-label {
    font-size: 20px;
    text-transform: uppercase;
  }

  .chart-helper {
    font-size: 24px;
  }

  .chart-helper.red {
    fill: $color-marker-red;
  }

  .chart-helper.green {
    fill: $color-marker-green;
  }

  .red-area {
    fill: #FCF1F5;
    stroke: #FCF1F5;
  }

  .yellow-area {
    fill: #f6f9c8;
    stroke: #f6f9c8;
  }

  .green-area {
    fill: #DFF9DF;
    stroke: #DFF9DF;
  }

  .area {
    opacity: 0.5;
  }

  .area.green {
    fill: $color-green;
  }

  .area.orange {
    fill: $color-orange-light;
  }

  .area.red {
    fill: $color-velvet;
  }

  .unit-breakdown-line {
    fill: none;
    stroke: #77787B;
    stroke-width: 0.8;
  }

  .refference-line {
    fill: none;
    stroke: #77787B;
    stroke-width: 0.2;
  }

  .gender {
    fill: $color-text;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }

  .st14 {
    letter-spacing: -1;
  }

  .st15 {
    font-size: 14px;
  }

  .st16 {
    font-size: 8px;
  }

  .st17 {
    font-size: 12px;
  }

  polyline.data,
  polyline.child-data {
    fill: none;
    stroke: $color-black;
    stroke-width: 2px;
    marker: url(#dot-marker);
  }

  polyline.data.red {
    stroke: $color-marker-red;
    marker: url(#dot-marker-red);
  }

  polyline.data.green {
    stroke: $color-marker-green;
    marker: url(#dot-marker-green);
  }

  polyline.data.black {
    stroke: $color-black;
    marker: url(#dot-marker-black);
  }

  .st18 {
    fill: none;
    stroke: #77787B;
    stroke-width: 0.5;
  }

  .st19 {
    fill: none;
    stroke: #9D9FA2;
    stroke-width: 0.2;
  }

  .st20 {
    font-size: 10px;
  }

  .unit-line {
    fill: none;
    stroke: #77787B;
    stroke-width: 1.5;
  }

  .zero-line {
    fill: $color-green;
  }

  .one-line {
    fill: $color-orange-light;
  }

  .two-line {
    fill: $color-velvet;
  }

  .three-line-new {
    stroke: black;
    fill: none;
  }

  .two-line-new {
    stroke: $color-velvet;
    fill: none;
  }

  .one-line-new {
    stroke: $color-orange-light;
    fill: none;
  }

  .zero-line-new {
    stroke: $color-green;
    fill: none;
  }

  .st23 {
    font-size: 12.5145px;
  }

  .st24 {
    fill: #E24301;
  }
}

.icon-progress-report {
  display: block;
  width: 222px;
  height: 222px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(#{$img-path}icon-progress-report.svg);
}

.page-report {
  background: #333;
  padding: 30px;
}

.image-report {
  margin-left: -30px;
  margin-right: -30px;
}

.wrap-report {
  max-width: 1215px;
  margin: 0 auto 30px auto;
  background: #fff;
  border-top: 9px solid #06b9ff;
  padding: 30px;

  .date-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ui.table th.uppercase {
    text-transform: uppercase;
  }

  .icon-back {
    width: 34px;
    height: 27px;
    display: block;
    background: url(#{$img-path}icon-back-dark.svg);
    position: absolute;
    background-size: 34px 27px;
  }

  .date {
    text-align: center;
    font-size: 1.29rem;
  }

  .ui.table {
    font-size: 1.29rem;
    border-color: #ccc;
    border-radius: 0;
    line-height: 1.1;
    margin-top: 45px;
    margin-bottom: 45px;
    border-right-style: none;
    border-bottom-style: none;
  }

  .ui.table th {
    background: #ccc;
    border-radius: 0 !important;
    color: #fff;
    height: 45px;
    padding: 3px 13px;
    border-color: #ccc !important;
  }

  .ui.table th.center.aligned {
    text-align: center !important;
  }

  .ui.table th.last {
    background: #4D4D4D;
  }

  .ui.table tr td {
    border-color: #ccc !important;
    color: #666;
    padding: 11px 9px;
    font-size: 1.72rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-style: none;
    border-top-style: none;
  }

  .ui.table tr td.first {
    font-size: 1.29rem;
    font-weight: bold;
    color: #808080;
    text-transform: uppercase;
  }

  .ui.table tr td.first.kinyarwanda {
    font-size: 0.95rem;
  }

  .negative {
    color: #FF1501 !important;
  }

  .positive {
    color: #65AB1F !important;
  }

  .warning {
    color: #F9E100 !important;
  }
}

h1.ui.header.report {
  color: #666;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
}

.ui.report.cards {
  margin: 40px -5px 20px -5px;
}

.ui.report.items {
  color: #333333;
}

.ui.report.items > .item > .image > img {
  box-shadow: none;
}

.ui.report.items > .item > .content {
  font-size: 0.9rem;
  padding-left: 25px;
}

.ui.report.items > .item > .content .ui.header {
  font-size: 1.72rem;
  font-weight: 600;
  color: $color-primary;
  margin-top: 10px;
}

.ui.cards .report.card {
  margin: 15px 5px;
  width: calc(20% - 10px);
}

.ui.cards .report.card .image {
  margin-bottom: 0;
  width: 100%;

  &.cache-upload img {
    height: 128px;
    width: 128px;
  }
}

.ui.cards .report.card .content {
  background: #ccc;
  color: #4d4d4d !important;
  text-transform: uppercase;
  font-size: 1.29rem;
  font-weight: bold;
  padding: 0 10px;
  line-height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

@media print {
  .page-report {
    margin: 0 !important;
    padding: 0 !important;
  }

  .wrap-report {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;

    .icon-back {
      display: none;
    }
  }

  .ui.cards .report.card {
    page-break-inside: avoid;
  }
}
