// These are from the SVG conversion for the Z-score charts.  I'm gradually
// converting the `st...` to more meaningful names.
svg.z-score {
  &.boys {
    .gender {
      fill: #0297D6;
    }
  }

  &.girls {
    .gender {
      fill: #E37EB3;
    }
  }

  .z-score-frame {
    fill: #231F20;
  }

  .z-score-semibold {
    font-family: 'Nunito-SemiBold';
  }

  .z-score-font-sm {
    font-size: 9.5px;
  }

  .z-score-grey {
    fill: #424242;
  }

  .z-score-white {
    fill: #FFFFFF;
  }

  .zero-to-neg-two {
    opacity: 0.5;
    fill: #00853F;
  }

  .neg-two-to-neg-three {
    opacity: 0.5;
    fill: #F9E100;
  }

  .below-neg-three {
    opacity: 0.5;
    fill: #E31837;
  }

  .above-zero {
    opacity: 0.5;
    fill: #00853F;
  }

  .month-line {
    fill: none;
    stroke: #77787B;
    stroke-width: 0.8;
  }

  .st12 {
    font-family: 'Nunito-Bold';
  }

  .st13 {
    font-size: 26.5px;
  }

  .st14 {
    letter-spacing: -1;
  }

  .st15 {
    font-size: 14px;
  }

  .st16 {
    font-size: 8px;
  }

  .st17 {
    font-size: 12px;
  }

  .child-data {
    polyline {
      fill: none;
      stroke: black;
      stroke-width: 2px;
      marker: url(#dot-marker);
    }
  }

  .st18 {
    fill: none;
    stroke: #77787B;
    stroke-width: 0.5;
  }

  .st19 {
    fill: none;
    stroke: #9D9FA2;
    stroke-width: 0.2;
  }

  .st20 {
    font-size: 10px;
  }

  .year-line {
    fill: none;
    stroke: #77787B;
    stroke-width: 1.5;
  }

  .zero-line {
    fill: #00853F;
  }

  .one-line {
    fill: #E24301;
  }

  .two-line {
     fill: #E31837;
  }

  .st23 {
    font-size: 12.5145px;
  }

  .st24 {
    fill: #E24301;
  }

  .dot-marker {
    .circle {
      fill: black;
    }
  }
}

.page-report {
  background: #333;
  padding: 30px;
}

.wrap-report {
  max-width: 1215px;
  margin: 0 auto 30px auto;
  background: #fff;
  border-top: 9px solid #06b9ff;
  padding: 30px;

  .date {
    text-align: center;
    font-size: 1.29rem;
  }

  .ui.table {
    font-size: 1.29rem;
    border-color: #ccc;
    border-radius: 0;
    line-height: 1.1;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .ui.table thead th {
    background: #ccc;
    border-radius: 0 !important;
    color: #fff;
    height: 45px;
    padding: 3px 13px;
    border-color: #ccc !important;
  }

  .ui.table thead th.center.aligned {
    text-align: center !important;
  }

  .ui.table thead th.last {
    background: #4D4D4D;
  }

  .ui.table tr td {
    border-color: #ccc !important;
    color: #666;
    padding: 11px 13px;
    font-size: 1.72rem;
  }

  .ui.table tr td.first {
    font-size: 1.29rem;
    font-weight: bold;
    color: #808080;
    text-transform: uppercase;
  }

  .ui.table tr td.negative, .ui.table tr td.positive, .ui.table tr td.warning {
    background: transparent !important;
    box-shadow: none !important;
  }

  .ui.table tr td.negative {
    color: #FF1501 !important;
  }

  .ui.table tr td.positive {
    color: #65AB1F !important;
  }

  .ui.table tr td.warning {
    color: #F9E100 !important;
  }
}

h1.ui.header.report {
  color: #666;
  font-family: Nunito, Arial, sans-serif;
  font-weight: bold;
}

.ui.report.cards {
  margin: 40px -5px 20px -5px;
}

.ui.report.items {
  color: #333333;
}

.ui.report.items > .item > .image > img {
  box-shadow: none;
}

.ui.report.items > .item > .content {
  font-size: 0.9rem;
  padding-left: 25px;
}

.ui.report.items > .item > .content .ui.header {
  font-size: 1.72rem;
  font-weight: 600;
  color: #06b9ff;
  margin-top: 10px;
}

.ui.cards .report.card {
  margin: 15px 5px;
  width: calc(20% - 10px);
}

.ui.cards .report.card .image {
  margin-bottom: 0;
}

.ui.cards .report.card .content {
  background: #ccc;
  color: #4d4d4d !important;
  text-transform: uppercase;
  font-size: 1.29rem;
  font-weight: bold;
  padding: 0 10px;
  line-height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media print {
  .page-report {
    margin: 0 !important;
    padding: 0 !important;
  }

  .wrap-report {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }

  .ui.cards .report.card {
    page-break-inside: avoid;
  }
}
