// Variables

$color-primary:    #06b9ff;
$color-secondary:  #0273B2;
$color-text:       #808080;
$color-background: #ccc;
$color-dark-background: #808080;
$color-light-background: #0393db;
$color-dark-blue:  #00374f;
$color-light-gray: #e6e6e6;
$color-gray:       #b1b1b1;
$color-red:        #f00;
$color-gray-border: #d9d9d9;

$font:             Nunito, Arial, sans-serif;
$font-alt:         Heebo, Arial, sans-serif;

$img-path:      '../images/';
// background: url(#{$img-path}background.png);
