// Variables

$color-primary:             #06B9FF;
$color-secondary:           #0273B2;
$color-text:                #808080;
$color-background:          #CCCCCC;
$color-dark-background:     #808080;
$color-dark-blue:           #00374F;
$color-light-background:    #0393DB;
$color-gray:                #B1B1B1;
$color-gray-border:         #D9D9D9;
$color-lighter-gray:        #E6E6E6;
$color-light-gray:          #B0BAC9;
$color-dark-gray:           #848484;
$color-darker-gray:         #6B6B6B;
$color-red:                 #FF0000;
$color-red-alert:           #D62766;
$color-velvet:              #D4145A;
$color-orange:              #FFB60D;
$color-green:               #25D625;
$color-green-alert:         #86A156;
$color-green-dark:          #1DBDB3;
$color-light-blue:          #29C2FF;
$color-lighter-blue:        #E0E7FF;
$color-white:               #FFFFFF;
$color-svg-grid:            #8097B1;
$color-orange-dark:         #F7931E;
$color-purple:              #4C06FF;
$color-black:               #000000;
$color-yellow:              #D9E021;
$color-orange-light:        #FBB03B;
$color-cyan:                #03B5AA;
$color-ivory:               #FFFFF0;
$color-marker-red:          #D4145A;
$color-marker-green:        #1CBCB2;
$color-pink:                #FCF1F5;


$font:             Nunito, Arial, sans-serif;
$font-alt:         Heebo, Arial, sans-serif;

$img-path:      '../images/';
// background: url(#{$img-path}background.png);
