// Variables

$color-primary:    #06b9ff;
$color-secondary:  #0273B2;
$color-text:       #808080;
$color-background: #ccc;
$color-dark-background: #808080;
$color-dark-blue: #0037f4;

$font:             Nunito, Arial, sans-serif;
$font-alt:         Heebo, Arial, sans-serif;

$img-path:      '../images/';
// background: url(#{$img-path}background.png);
