# Drupal profile #
##################
hedley/modules/contrib
hedley/modules/development
hedley/1
hedley/themes/contrib
hedley/libraries
hedley/modules/custom/hedley_device/composer.lock
hedley/modules/custom/hedley_device/vendor

# Local Configuration
config.sh
prepare_db_for_dev.sh

# DDEV
.ddev/config.local.yaml
.ddev/db_snapshots
.ddev/commands/host/launch

# deployment
.pantheon
.pantheon-rwanda
.pantheon-burundi
