// Base

html,
body {
  min-height: 100vh;
}

body {
  font-size: 22px;
}

.wrap {
  width: 800px;
  margin: 0 auto;
  border-top-width: 25px;
  border-top-style: solid;
  padding: 15px;
  min-height: 100vh;
  //overflow: auto;

  flex-direction: column;
  display: flex;

  > .ui.segment {
    &.full {
      flex: 1;
      flex-direction: column;
      display: flex;

      > .content {
        flex: 1;
      }
    }
  }
}


// Segments

.ui.segment {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  font-size: 1.57rem; //22px light
  font-weight: 300;
  padding: 2.5rem; // 35px
  margin: 0 0 10px 0;

  &.full {
    padding-bottom: 20px;
  }

  &.head {
    margin: -15px -15px 0 -15px;
    padding: 40px 0 0 0;
    z-index: 100;
    position: relative;
  }
}


// Menu

.ui.menu {
  font-size:  2.15rem;
  min-height: 0;
}

.ui.text.menu {
  margin: 0.4rem 0 2.2rem 0;

  .item {
    padding: 0;

    &:after {
      content: "|";
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.ui.secondary.pointing.menu {
  .item {
    border-bottom-width: 5px;
    margin: 0;
    font-weight: normal;
    padding-top: 0.5em; // 70px fow now height; current 65px
    padding-bottom: 0.5em; 

    &.active {
      font-weight: bold;
    }
  }
}


//Headers

h1.ui.header {
  font-size:  2.15rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px 0 !important; //override default negative margin; top margin 50px;
}

h2.ui.header,
h3.ui.header {
  font-size: 2.15rem;
  font-weight: normal
}

// Buttons


.ui.button {  // height = 50px
  font-size: 2.25rem;  //31px
  font-weight: normal;
  padding-top: 0.24em;
  padding-bottom: 0.24em;
}


.ui.button,
.ui.basic.button {
  //from .ai
  border-width : 2px;
  border-radius : 25px;
  border-style: solid;
  //box-shadow: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


// Cards

.ui.card,
.ui.cards>.card {
  box-shadow: none;
  background: transparent;

  > .image {
    margin-bottom: 8px;
  }
}

.ui.card>.content,
.ui.cards>.card>.content {
  padding: 0;
  border: 0;

  p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
  }
}


// Progress Bar

.ui.progress {
  margin-top: 5px !important;

  > .label {
    text-align: left;
    font-weight: normal; // Roboto font here, 10px
    font-size: 0.84em;
    margin-top: 0.3em;
    line-height: 1;
  }
}


// Items

.ui.items>.item .meta {
  font-size: 1rem;
  font-weight: normal;
}

.ui.items>.item>.content>.header {
  font-weight: normal;
}


// Form

.ui.form {
  font-size: 1.57rem;
  font-weight: normal;
}


.ui.input {
  width: 100%;
  align-items: center;

  &.labeled {
    > .label {
      font-weight: normal;
      color: inherit;
      border: 0;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      background: transparent;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.ui.form input[type=text],
.ui.form input[type=text]:focus {
  border: 0;
  font-size: 2rem;
  border-radius: 0;
  padding: 0 0.5em;
  line-height: 0.5;
  width: 263px;
  text-align: right;
  height: 50px;
}

.ui.checkbox {
  display: block;
  margin-bottom: 5px;

  label {
    font-size: 1.57rem;
    font-weight: 300;
    min-height: 23px;
    padding-left: 70px;
    line-height: 1.2;

    &:after {
      width: 23px;
      height: 23px;
      opacity: 0;
      left: 25px;
    }
  }

  input:checked~label:after {
    opacity: 1;
    content: " ";
  }

  label:before,
  &:focus label:before {
    width: 23px;
    height: 23px;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    left: 25px;
    background: transparent;
  }
}

.label-with-icon {
  position: relative;
  padding-left: 50px;
}

.icon-up,
.icon-down {
  width: 32px;
  height: 44px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -22px;
}


// Modal

.ui.modal {
  border-radius: 25px;
  width: 475px !important; //temp
  margin-left: -234px !important; //temp

  > .icon:first-child+*,
  >:first-child:not(.icon) {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  > .header {
    border-bottom: 0;
    padding: 40px 35px 0 35px;
  }

  >.header:not(.ui) {
    font-size: 30px;
  }

  > .content {
    padding: 15px 35px;
    font-size: 22px;
    font-weight: 300;
    min-height: 170px;
  }

  > .actions {
    border-top: 0;
    background: transparent;
    padding: 0 35px 20px 35px;
  }

  .ui.button {
    padding-left: 5px;
    padding-right: 5px;
  }
}


// Custom Page Head Links

.link-back,
.link-theme {
  display: block;
  position: absolute;
}

.link-back {
  width: 19px;
  height: 34px;
  left: 50px;
  top: 45px;
}

.icon-back {
  width: 19px;
  height: 34px;
  display: block;
}

.link-theme {
  width: 60px;
  height: 32px;
  right: 40px;
  top: 40px;
}

.icon-theme {
  width: 60px;
  height: 32px;
  display: block;
}


// Custom Links with Icons

.link-section {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.icon-section {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  margin: 0 auto 10px auto;

  &:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.icon-weight {
  &:after {
    background-position: center 5px;
  }
}


// Custom More Link

.link-more {
  text-align: center;
  color: inherit;
}

.icon-more {
  width: 32px;
  height: 59px;
  display: block;
  margin: 28px auto 34px auto;
}


// Custom Add Photo Link

.link-add {
  display: block;
  width: 152px;
  height: 152px;
}

.icon-add {
  display: block;
  width: 152px;
  height: 152px;
  background-repeat: no-repeat;
  background-position: center center;
}


// Custom Buton Icon

.icon-ok {
  width: 33px;
  height: 33px;
  display: block;
  margin: -2px auto;
}