hooks:
  post-import-db:
    # Sanitize email addresses
    - exec: drush sqlq "UPDATE users SET mail = concat(mail, '.test') WHERE uid > 0
        AND mail NOT LIKE '%~%'"
    - exec: drush sqlq "UPDATE users SET mail = replace(mail, '~', '.test~') WHERE uid
        > 0 AND mail LIKE '%~%'"
    # This will be applied to production with a future release.
    - exec: drush sqlq "DELETE FROM system WHERE name='hedley_pusher'"
    - exec: drush updb -y
    - exec: drush updb -y
    # Modules can come and go, production might be behind.
    - exec: wget https://ftp.drupal.org/files/projects/registry_rebuild-7.x-2.5.tar.gz
    - exec: tar -xvf registry_rebuild-7.x-2.5.tar.gz --directory ~/.drush
    - exec: rm registry_rebuild-7.x-2.5.tar.gz
    - exec: drush cc all
    - exec: drush rr
    - exec: drush cc all
    - exec: drush en devel views_ui field_ui -y
    - exec: drush fra -y
    - exec: drush uli
  post-start:
    - exec: "cd .. && chmod +x ./scripts/build && ./scripts/build"
    # If DDEV creates server/www/, it is owned by root for some reasons,
    # so we have a placeholder .gitignore there, that ignores everything, but
    # the gitignore, during the install process, it gets altered, so we restore
    # it to avoid having untracked files.
    - exec: "git checkout .gitignore"
    - exec: drush site-install -y hedley install_configure_form.update_status_module='array(FALSE,FALSE)' --locale=en --account-name="admin" --account-pass="admin" --account-mail="admin@example.com" --db-url=mysql://db:db@db/db --uri="https://ihangane.ddev.site:4443"
    - exec: drush en devel views_ui field_ui -y
    - exec: drush fra -y
    - exec: composer install -d sites/default/files/composer
    # Run migration
    - exec: drush en -y hedley_migrate
    - exec: drush en -y migrate migrate_ui migrate_extras
    - exec: drush mi --group=default --user=1
    - exec: drush mi --group=counseling --user=1
    - exec: drush mi --group=forms --user=1
    - exec: drush uli
